<h2><%= t('articles.edit_article') %></h2>

<%= simple_format(@message) unless @message.nil? %>

<div class="col-xs-12 col-sm-12 col-md-12, col-lg-12">
	<%= form_for :article, url: article_path(@article), method: :put, data: { turbo: false } do |f| %>

		<p>
			<%= f.label :title, class: "form-label" %><br />
			<%= f.text_field :title, class: "form-control" %>
		</p>

		<p>
			<%= f.label :text, class: "form-label" %><br />
			<%= f.text_area :text, class: "form-control" %>
		</p>

		<p>
			<%= f.submit "Edit", class: "btn btn-light" %>
		</p>
	<% end %>
</div>