
<h2><%= @article.title %></h2>
<p>
	<%= @article.text %>
</p>
<br />
<br />
<h4><%= t("comments.comments") %></h4>

<% @comments.each do |comment| %>
	<p>
		<b><%= comment.author %> said: </b><br />
		<i><%= comment.body %></i>
	</p>
	<hr />
<% end %>

<% if user_signed_in? %>

	<h4><%= t("comments.add_comments") %></h4>
	<div class="col-xs-12 col-sm-12 col-md-12, col-lg-12">
		<%= form_for([@article, @comment]) do |f| %>
			
			<% if @comment && @comment.errors.any? %>
				<p>
					<ul>
					<% @comment.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</p>
			<% end %>

			
			<%= f.hidden_field :author, value: current_user.username.capitalize %>

			<p>
				<%= f.label :body, class: "form-label" %><br /><br />
				<%= f.text_area :body, class: "form-control" %>
			</p>
			<p>
				<%= f.submit 'Send comment', class: "btn btn-light" %>
			</p>
			<% end %>
	</div>
	<% else %>
			<p>Please 
				<%= link_to "sign in", new_user_session_url %> or
				<%= link_to "register", new_user_registration_url %>
				to leave comments.
			</p>
	<% end %>
